<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <!--    RequestFilter 拦截所有请求获取Request Response 不使用其他框架的情况下 -->
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>com.jason.demo.filter.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>/*</url-pattern> </filter-mapping>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

</web-app>
